<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index_style.css">
  <title>Error</title>
  
</head>
<body>

  <img src="/public/images/Poke_Ball.png" alt="">
  <div class="login">
    <h1>Enter As demo user for now</h1>
    <div class="outer-shell">
      <div>Login</div>
      <div>Sign Up</div>
      <div><a  href="/search"> Enter As Demo User</a></div>

    </div>
    
  </div>


  
<div>
    
</div>
</body>

</html>
