<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index_style.css">
  <title>Error</title>
  
</head>
<img id="poke-card-back2" src="/public/images/pokelogo2.svg" alt="">
<body>
  <img id="logo" src="/public/images/pokelogo.png" alt="">
  <img  id="pokeball" src="/public/images/Poke_Ball.png" alt="">

  <div class="login">
    <h1>Enter As demo user for now</h1>
    <div class="outer-shell">
      <div>Login</div>
      <div>Sign Up</div>
      <div><a  href="/search"> Enter As Demo User</a></div>

    </div>
    
  </div>


  
<div>
    
</div>
</body>
<img id="poke-card-back" src="/public/images/pokemon.svg" alt="">

</html>
