<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Error</title>

</head>
<body>

        <input type="text" name="" id="pokemonName" placeholder="enter a pokemon name">
        <button onclick="fetchData()">Fetch Pokemon</button> <br>
        <img src="" alt="Pokemon Sprite" id="pokemonSprite" style="display:none;">
        <div class="stats">
            
        </div>
<div>
   

<form method="POST" action="/search">
    <label for="name"></label>
    <input type="text" id="name" name="name" readonly>

    <label for="type"></label>
    <input type="text" id="type" name="type" readonly>

    <label for="height"></label>
    <input type="text" id="height" name="height" readonly>

    <label for="forms"></label>
    <input type="text" id="forms" name="forms" readonly>

    <label for="weight"></label>
    <input type="text" id="weight" name="weight" readonly>

    <label for="imageUrl"></label>
    <input type="text" name="imageUrl" id="imageUrl" >


    <button type="submit">Add Pokemon</button>
</form>




</div>


</body>
<script>

    async function fetchData(){
        
        try{
    
            const pokemonName = document.getElementById("pokemonName").value.toLowerCase();
            const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`);
    
            if(!response.ok){
                throw new Error("Could not fetch resource");
            }
    
            const data = await response.json();
            const pokemonSprite = data.sprites.front_default;
            const imgElement = document.getElementById("pokemonSprite");
        
            const name= document.getElementById('name');
            name.value = data.name;
            

            const type = document.getElementById('type');
            type.value=data.types[0].type.name;

           

            const height  = document.getElementById('height');
            height.value = data.height;
            

            const forms  = document.getElementById('forms');
            forms.value = data.types[0].type.name;

            const weight  = document.getElementById('weight');
            weight.value = data.weight;

            const imageUrl = document.getElementById('imageUrl');
            imageUrl.value=data.sprites.front_default;

            imgElement.src = pokemonSprite;
            imgElement.style.display = "block";

            console.log(data)
        }
        catch(error){
            console.error(error);
        }
    }</script>
</html>
