html{
height: 100vh;
background-color: rgb(175, 104, 104);/* for now*/
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width:15%;
}
.login{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(161, 159, 16);
}
.outer-shell{
   user-select: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;

}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}