html {
  height: 100%;
  width: 100%;

}
body {
  height: 100%;
  width: 100%;
  margin: 0px;

  text-align: center;
}
.navbar{

  display: flex;
  justify-content: space-between;
  background-color: red;
}
h1{
  margin-left: 10px;
  user-select: none;
 }
 a{
   border-radius: 5px;
   padding: 10px;
   transition: background-color 0.3s ease-in-out; /* Specify the property to transition */
 }
 a:hover{
   background-color: yellow;
 }
 
.outershell{
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  flex-basis: calc(25% - 10px); /* triggered here not in ul*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  background-color: aliceblue;
  margin: 15px;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
#delete {
  border-radius: 20px;
  width: 100px;
  background: red;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  transition: background-color 0.1s ease;
}
#delete:hover {
  background-color: lightblue;
}
