html{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
#search{
    height: 500px;
   display: grid;
}
.name_img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.randopoke{

   
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}
.randopoke:hover{
    transform: scale(1.2);
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}


#pokemonName{
    font-size: 15px;
    display: flex;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    outline: none;
    border: 2px solid black;
}
#search-pokemon{
 
    border-radius: 15px;
    outline: none;
    border-style: none;
    transition: background-color .6s ease-in-out;
    
}
#search-pokemon:hover{
    background-color: lightblue;
    cursor: pointer;
    
}
#pokemonSprite{
   
} 
form{
    display: flex;
    flex-wrap: wrap;
    

}
input{
    
    flex-basis: calc(33.33% - 10px); /*what this does? makes your elements flex by given amt */
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}